<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <script src="https://unpkg.com/@egjs/view3d@latest/dist/view3d.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@egjs/view3d@latest/css/view3d-bundle.min.css">

    <title>SmartCore</title>
    <style>
        .button {
            border-color: #dbdbdb;
            color: white;
            border-width: 1px;
            justify-content: center;
            padding: calc(0.5em - 1px) 1em;
            text-align: center;
            white-space: nowrap;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            background-color: rgb(13, 71, 217);
        }

        .button:hover {
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.05);
        }

        .mr-2 {
            margin-right: 7px;
            margin-top: 6px;
        }

        .box {
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        }

        #fondo {
            background: white;
            padding: 0 10px;
        }

        #contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;
            background-color: rgb(13, 71, 217);
        }

        #loader {
            display: none;
            position: fixed;
            z-index: 9999;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 60px;
            height: 60px;
            border: 6px solid #f3f3f3;
            border-radius: 50%;
            border-top: 6px solid rgb(13, 71, 217);
            width: 80px;
            height: 80px;
            -webkit-animation: spin 1s linear infinite;
            /* Safari */
            animation: spin 1s linear infinite;
            background-color: rgba(255, 255, 255, 0.7);
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="contenedor">
        <div class="izquierda">
            <div id="fondo">

                <svg viewBox="0 0 1432 305" width="100" height="50" xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                    class="h-7 lg:h-9 w-auto">
                    <g transform="translate(-42.438 970.047)">
                        <path fill="none" d="M42.438-970.047h1431.04v304.503H42.438z"></path>
                        <clipPath id="a">
                            <path d="M42.438-970.047h1431.04v304.503H42.438z"></path>
                        </clipPath>
                        <g clip-path="url(#a)">
                            <path
                                d="M42.95-858.642l47.24-2.925c1.124 7.649 3.149 13.497 6.298 17.547 5.174 6.523 12.373 9.897 22.045 9.897 6.974 0 12.598-1.8 16.422-5.173 3.824-3.15 5.624-7.199 5.624-11.473 0-4.274-1.8-7.873-5.4-11.248-3.598-3.374-12.146-6.298-25.419-9.223-21.82-4.949-37.566-11.472-46.79-19.57-9.447-8.324-13.946-18.671-13.946-31.269 0-8.098 2.249-15.971 7.198-23.395 4.724-7.423 11.922-13.047 21.595-17.32 9.673-4.275 22.72-6.3 39.592-6.3 20.47 0 36.217 3.825 47.015 11.473 10.797 7.648 17.32 19.796 19.345 36.442l-47.014 2.925c-1.125-7.424-3.825-12.598-7.874-15.972-4.049-3.15-9.448-4.949-16.421-4.949-5.849 0-10.123 1.35-13.047 3.824-2.925 2.475-4.5 5.4-4.5 8.773 0 2.7 1.125 4.95 3.6 6.974 2.474 2.25 7.873 4.049 16.646 6.074 21.82 4.499 37.342 9.223 46.79 14.171 9.448 4.724 16.197 10.798 20.696 17.772 4.274 7.198 6.298 15.071 6.298 23.844 0 10.348-2.924 19.796-8.548 28.57-5.624 8.772-13.722 15.296-23.845 19.795-10.347 4.5-23.17 6.749-38.916 6.749-27.444 0-46.34-5.174-56.913-15.747-10.573-10.573-16.421-24.07-17.771-40.266zm168.526-63.437h41.616v17.097c6.074-6.974 12.148-12.148 18.221-15.072 6.074-3.15 13.497-4.5 22.27-4.5 9.223 0 16.647 1.576 22.046 4.95 5.399 3.15 9.898 8.098 13.272 14.622 6.973-7.649 13.497-12.823 19.12-15.522 5.85-2.7 13.048-4.05 21.371-4.05 12.597 0 22.27 3.6 29.469 11.024 6.973 7.423 10.347 19.12 10.347 34.867v73.334h-44.765v-66.36c0-5.4-.9-9.223-2.924-11.923-3.15-4.049-6.749-6.074-11.248-6.074-5.174 0-9.448 2.025-12.822 5.85-3.15 3.823-4.724 9.897-4.724 18.22v60.287H287.96v-64.336c0-4.949-.225-8.548-.9-10.348-.9-2.924-2.7-5.399-4.95-7.198-2.474-1.8-5.173-2.475-8.322-2.475-5.174 0-9.448 1.8-12.598 5.624-3.374 4.05-4.948 10.348-4.948 19.121v59.612h-44.766v-116.75zm265.217 37.792l-42.74-4.499c1.574-7.423 4.049-13.272 6.973-17.546 3.15-4.274 7.423-8.098 13.272-11.248 4.05-2.25 9.673-3.824 16.871-5.173 7.199-1.35 14.847-1.8 23.17-1.8 13.498 0 24.295.675 32.393 2.25 8.099 1.35 14.847 4.498 20.246 9.222 3.824 3.375 6.749 8.099 8.998 14.172 2.25 6.074 3.374 11.698 3.374 17.322v51.514c0 5.398.225 9.672 1.125 12.822.675 3.15 2.025 7.198 4.5 11.922h-42.067c-1.574-2.924-2.7-5.399-3.149-6.973-.675-1.575-1.125-4.05-1.575-7.199-5.848 5.624-11.697 9.448-17.546 11.923-7.873 3.374-17.096 4.949-27.444 4.949-13.947 0-24.52-3.375-31.718-9.673-7.199-6.524-10.798-14.397-10.798-23.845 0-8.998 2.475-16.197 7.649-21.82 5.173-5.85 14.846-10.123 28.793-12.823 16.872-3.374 27.67-5.623 32.618-7.198 4.95-1.35 10.348-2.924 15.972-5.174 0-5.624-1.125-9.448-3.6-11.473-2.249-2.249-6.073-3.374-11.922-3.374-7.198 0-12.822 1.125-16.421 3.6-2.925 1.799-5.174 5.173-6.974 10.122zm38.917 23.62c-6.299 2.25-12.597 4.05-19.346 5.849-8.998 2.474-14.847 4.724-17.321 7.198-2.475 2.25-3.6 4.95-3.6 8.099 0 3.599 1.125 6.523 3.6 8.548 2.474 2.25 6.073 3.374 10.797 3.374 4.95 0 9.673-1.125 13.947-3.6 4.275-2.249 7.424-5.398 9.223-8.772 1.8-3.6 2.7-8.099 2.7-13.497v-7.199zm70.858-61.412h41.84v19.121c4.05-8.098 8.099-13.947 12.373-17.096 4.499-2.924 9.673-4.5 15.971-4.5 6.524 0 13.722 2.026 21.596 6.075l-13.722 31.943c-5.4-2.25-9.448-3.375-12.598-3.375-5.848 0-10.347 2.475-13.722 7.199-4.499 6.973-6.748 19.57-6.748 38.242v39.141h-44.99v-116.75zm164.588-44.315v44.315h24.52v32.843h-24.52v41.391c0 4.95.45 8.099 1.35 9.898 1.575 2.475 4.049 3.6 7.648 3.6 3.375 0 7.874-.9 13.947-2.925l3.375 31.043c-11.248 2.25-21.596 3.6-31.044 3.6-11.247 0-19.346-1.575-24.744-4.274-5.174-2.925-8.998-7.199-11.698-13.048-2.474-5.848-3.6-15.296-3.6-28.344v-40.94h-16.646v-32.844h16.647v-21.37l44.765-22.945zm156.082 95.154l43.64 13.273c-2.924 12.147-7.648 22.27-13.947 30.593-6.298 8.098-14.172 14.397-23.395 18.446-9.448 4.274-21.145 6.299-35.767 6.299-17.321 0-31.718-2.475-42.74-7.649-11.248-4.949-20.696-13.947-28.794-26.769-8.099-12.822-12.148-29.244-12.148-49.264 0-26.545 7.199-47.015 21.37-61.412 14.172-14.172 34.193-21.37 60.063-21.37 20.245 0 36.217 4.049 47.914 12.372 11.473 8.098 20.246 20.695 25.87 37.792l-43.866 9.673c-1.575-4.95-3.15-8.549-4.949-10.798-2.7-3.824-6.074-6.749-10.123-8.773-4.049-2.025-8.548-3.15-13.497-3.15-11.472 0-20.02 4.725-26.094 13.723-4.5 6.748-6.749 17.32-6.749 31.718 0 17.77 2.7 30.143 8.099 36.667 5.398 6.523 13.047 9.898 22.945 9.898 9.448 0 16.646-2.7 21.595-7.874 4.724-5.398 8.323-13.272 10.573-23.395zm61.373-14.396c0-26.32 7.424-46.79 22.046-61.412 14.621-14.622 35.092-22.045 61.186-22.045 26.77 0 47.465 7.198 61.862 21.595 14.622 14.397 21.82 34.417 21.82 60.512 0 18.67-3.15 34.192-9.448 46.34-6.298 11.922-15.521 21.37-27.444 28.119-11.922 6.523-26.994 9.898-44.765 9.898-18.221 0-33.293-2.925-45.215-8.549-11.923-5.848-21.37-15.071-28.794-27.444-7.424-12.597-11.248-28.344-11.248-47.014zm49.94.224c0 16.197 2.924 27.894 8.998 34.868 6.073 7.198 14.171 10.798 24.744 10.798s18.896-3.6 24.745-10.573c5.849-6.974 8.773-19.346 8.773-37.342 0-15.297-3.15-26.32-9.223-33.293-6.074-6.973-14.397-10.573-24.745-10.573-10.123 0-18.22 3.6-24.294 10.798-6.074 6.974-8.999 18.896-8.999 35.317zm144.415 80.083v-161.065h83.007c15.297 0 26.994 1.35 35.318 4.05 8.098 2.474 14.621 7.423 19.57 14.621 4.95 7.198 7.424 15.747 7.424 26.094 0 8.998-1.8 16.647-5.624 23.17-3.824 6.524-8.998 11.698-15.747 15.747-4.274 2.474-10.122 4.724-17.546 6.299 6.074 2.024 10.348 4.049 13.047 5.848 1.8 1.35 4.5 4.274 7.874 8.548 3.599 4.274 5.848 7.649 6.973 10.123l24.07 46.565h-56.238l-26.544-49.264c-3.374-6.299-6.299-10.348-8.998-12.373-3.6-2.474-7.649-3.824-12.148-3.824h-4.499v65.461h-49.939zm49.94-95.83h21.145c2.25 0 6.523-.674 13.047-2.249 3.374-.45 6.074-2.25 8.098-4.949 2.025-2.699 3.15-5.848 3.15-9.448 0-5.173-1.575-8.998-4.95-11.922-3.374-2.7-9.447-4.05-18.445-4.05h-22.046v32.619zm124.359-65.235h133.396v34.418h-83.681v25.644h77.608v32.843h-77.608v31.718h85.931v36.442h-135.646v-161.065zM857.6-680.341c3.363 0 6.468-.695 9.317-2.078a19.735 19.735 0 007.185-5.899c1.924-2.534 3.228-5.466 3.906-8.8l.254-1.249h-7.638l-.213.761c-.576 2.064-1.514 3.853-2.822 5.365-1.304 1.507-2.828 2.657-4.575 3.447a13.007 13.007 0 01-5.414 1.184c-2.578 0-4.85-.594-6.806-1.799-1.95-1.2-3.455-2.904-4.524-5.102-1.097-2.255-1.637-4.871-1.637-7.845v-15.44c0-2.974.54-5.59 1.637-7.845 1.07-2.2 2.577-3.911 4.528-5.124 1.956-1.217 4.225-1.816 6.802-1.816 1.857 0 3.655.418 5.393 1.252a14.083 14.083 0 014.596 3.534 13.82 13.82 0 012.826 5.222l.219.749h7.628l-.254-1.249c-.678-3.332-1.975-6.264-3.885-8.797a19.558 19.558 0 00-7.168-5.902c-2.847-1.383-5.965-2.078-9.355-2.078-4.097 0-7.696.925-10.803 2.756-3.124 1.842-5.548 4.439-7.267 7.794-1.695 3.311-2.552 7.144-2.552 11.504v15.44c0 4.36.857 8.193 2.552 11.503 1.72 3.357 4.145 5.948 7.27 7.777 3.106 1.817 6.704 2.735 10.8 2.735zm36.449-12.186v-46.743h-7.656v46.665c0 3.682.933 6.521 2.718 8.545 1.826 2.07 4.392 3.139 7.727 3.139h5.685v-7.269h-4.756c-1.16 0-2.075-.334-2.724-1.064-.69-.774-.994-1.873-.994-3.273zm31.734 12.186c3.68 0 6.826-.736 9.443-2.181 2.662-1.47 4.695-3.596 6.096-6.384 1.368-2.722 2.065-6.004 2.065-9.851v-6.656c0-3.821-.697-7.09-2.065-9.813-1.401-2.789-3.436-4.91-6.1-6.367-2.616-1.431-5.76-2.159-9.44-2.159-3.677 0-6.822.728-9.437 2.159-2.664 1.457-4.7 3.578-6.1 6.367-1.37 2.723-2.066 5.992-2.066 9.813v6.54c0 3.871.697 7.177 2.064 9.925 1.4 2.815 3.435 4.956 6.098 6.426 2.617 1.445 5.762 2.181 9.442 2.181zm-.038-7.269c-3.143 0-5.59-.925-7.313-2.846-1.758-1.961-2.597-4.736-2.597-8.301v-6.656c0-3.538.838-6.294 2.595-8.241 1.724-1.91 4.17-2.83 7.315-2.83 3.17 0 5.637.921 7.374 2.832 1.769 1.947 2.612 4.702 2.612 8.239v6.656c0 3.563-.844 6.338-2.614 8.298-1.736 1.923-4.203 2.849-7.372 2.849zm52.363-35.562h7.61v42.251h-7.61v-3.626c-.79.746-1.7 1.429-2.74 2.048-2.41 1.427-5.36 2.158-8.88 2.158-4.782 0-8.463-1.57-11.065-4.645-2.55-3.012-3.865-7.247-3.865-12.727v-25.459h7.656v25.459c0 3.222.795 5.734 2.465 7.51 1.649 1.754 3.999 2.593 7.019 2.593 3.01 0 5.35-.764 6.99-2.372 1.64-1.602 2.42-3.878 2.42-6.802v-26.388zm42.68 3.558v-19.656h7.65v58.349h-7.65v-3.072a10.43 10.43 0 01-2.76 1.941c-2.32 1.13-5.19 1.711-8.62 1.711-3.13 0-5.81-.698-8.05-2.068-2.27-1.385-3.99-3.387-5.17-6.017-1.14-2.544-1.71-5.599-1.71-9.171v-8.745c0-3.619.56-6.709 1.67-9.274 1.14-2.659 2.83-4.675 5.02-6.06 2.18-1.375 4.8-2.076 7.85-2.076 3.25 0 6.09.616 8.53 1.831 1.19.591 2.27 1.359 3.24 2.307zm0 11.995c0-1.586-.37-3.091-1.1-4.514-.73-1.409-1.79-2.551-3.18-3.429-1.39-.879-3.02-1.309-4.9-1.309-3.01 0-5.35.875-7 2.695-1.68 1.857-2.48 4.49-2.48 7.873v8.706c0 3.305.8 5.884 2.47 7.713 1.65 1.799 4 2.661 7.01 2.661 1.85 0 3.47-.44 4.85-1.341 1.39-.904 2.46-2.08 3.2-3.529.75-1.461 1.13-2.985 1.13-4.575v-10.951zm39.62 26.698v-58.349h38.23v7.269h-30.57v18.465h26.31v7.268h-26.31v18.078h30.57v7.269h-38.23zm54.25-38.572c.99-.98 2.1-1.776 3.33-2.389 2.48-1.241 5.36-1.87 8.63-1.87 4.71 0 8.34 1.569 10.92 4.649 2.52 3.011 3.82 7.256 3.82 12.761v25.421h-7.65v-25.382c0-3.245-.82-5.775-2.52-7.562-1.69-1.771-4.09-2.619-7.16-2.619-2.99 0-5.32.748-6.96 2.323-1.63 1.561-2.41 3.79-2.41 6.658v26.582h-7.65v-42.251h7.65v3.679zm61.77 35.5a10.43 10.43 0 01-2.76 1.941c-2.32 1.13-5.19 1.711-8.62 1.711-3.13 0-5.81-.698-8.05-2.068-2.27-1.385-4-3.387-5.17-6.017-1.14-2.544-1.72-5.599-1.72-9.171v-8.745c0-3.619.57-6.709 1.67-9.274 1.15-2.659 2.83-4.675 5.03-6.06 2.18-1.375 4.79-2.076 7.85-2.076 3.25 0 6.09.616 8.53 1.831 1.19.591 2.27 1.359 3.24 2.307v-3.558h7.65v40.009c0 3.876-.72 7.193-2.14 9.958-1.46 2.826-3.57 4.973-6.35 6.441-2.71 1.44-5.98 2.173-9.81 2.173-3.21 0-6.07-.6-8.57-1.784-2.56-1.21-4.54-2.919-5.96-5.117l-.48-.746 5.28-4.749.69.889c1.11 1.447 2.45 2.569 4.02 3.364 1.55.788 3.19 1.183 4.91 1.183 3.41 0 6.08-.91 7.96-2.807 1.89-1.9 2.8-4.586 2.8-8.031v-1.604zm0-23.626a9.65 9.65 0 00-1.11-4.514c-.72-1.409-1.78-2.551-3.17-3.429-1.39-.879-3.02-1.309-4.9-1.309-3.01 0-5.36.875-7 2.695-1.68 1.857-2.48 4.49-2.48 7.873v8.706c0 3.305.8 5.884 2.47 7.713 1.65 1.799 4 2.661 7.01 2.661 1.85 0 3.47-.44 4.85-1.341 1.39-.904 2.46-2.08 3.2-3.529.75-1.461 1.13-2.985 1.13-4.575v-10.951zm18.72-15.553v42.251h7.66v-42.251h-7.66zm0-16.098v7.656h7.66v-7.656h-7.66zm26.39 19.777c.99-.98 2.1-1.776 3.33-2.389 2.48-1.241 5.36-1.87 8.63-1.87 4.71 0 8.34 1.569 10.92 4.649 2.52 3.011 3.82 7.256 3.82 12.761v25.421h-7.66v-25.382c0-3.245-.81-5.775-2.51-7.562-1.69-1.771-4.09-2.619-7.16-2.619-2.99 0-5.32.748-6.96 2.323-1.63 1.561-2.41 3.79-2.41 6.658v26.582h-7.66v-42.251h7.66v3.679zM1264.268-698.567c.11 3.39 1.07 6.051 2.94 7.96 1.99 2.024 4.81 2.997 8.43 2.997 1.72 0 3.42-.361 5.11-1.077 1.69-.722 3.2-1.745 4.53-3.068l.72-.721 5.3 5.09-.77.752a22.323 22.323 0 01-6.98 4.644c-2.61 1.101-5.24 1.649-7.91 1.649-3.91 0-7.24-.753-10.01-2.232-2.82-1.508-4.97-3.706-6.45-6.597-1.45-2.828-2.19-6.228-2.19-10.207v-4.527c0-4.148.71-7.687 2.09-10.622 1.43-3.013 3.5-5.304 6.21-6.879 2.67-1.556 5.89-2.347 9.66-2.347 3.56 0 6.6.782 9.13 2.319 2.54 1.551 4.5 3.81 5.84 6.788 1.31 2.893 1.97 6.368 1.97 10.431v5.647h-27.62zm20.34-7.114c-.09-3.362-.92-6.001-2.54-7.896-1.68-1.959-4.07-2.907-7.12-2.907-3.4 0-6.04 1.008-7.89 3.094-1.67 1.878-2.57 4.453-2.76 7.709h20.31zM1306.758-698.567c.11 3.39 1.07 6.051 2.94 7.96 1.99 2.024 4.81 2.997 8.43 2.997 1.72 0 3.42-.361 5.11-1.077a14.24 14.24 0 004.52-3.068l.73-.721 5.3 5.09-.77.752c-2.06 2.001-4.38 3.549-6.98 4.644-2.61 1.101-5.25 1.649-7.91 1.649-3.91 0-7.24-.753-10.01-2.232-2.82-1.508-4.97-3.706-6.45-6.597-1.45-2.828-2.19-6.228-2.19-10.207v-4.527c0-4.148.71-7.687 2.09-10.622 1.43-3.013 3.5-5.304 6.21-6.879 2.67-1.556 5.89-2.347 9.65-2.347 3.57 0 6.61.782 9.14 2.319 2.54 1.551 4.5 3.81 5.84 6.788 1.31 2.893 1.97 6.368 1.97 10.431v5.647h-27.62zm20.34-7.114c-.09-3.362-.92-6.001-2.54-7.896-1.68-1.959-4.07-2.907-7.13-2.907-3.39 0-6.03 1.008-7.89 3.094-1.66 1.878-2.56 4.453-2.75 7.709h20.31zM1350.788-719.101a16.455 16.455 0 013.42-2.527c2.54-1.414 5.32-2.124 8.34-2.124 1.96 0 3.74.287 5.33.854 1.62.577 3.03 1.432 4.24 2.559l.7.649-4.92 6.344-.83-.861c-.72-.741-1.62-1.296-2.71-1.677-1.15-.404-2.49-.6-4.01-.6-3.04 0-5.41.774-7.09 2.398-1.67 1.609-2.47 3.851-2.47 6.699v26.466h-7.66v-42.251h7.66v4.071zM1378.108-723.172v42.251h7.66v-42.251h-7.66zm0-16.098v7.656h7.66v-7.656h-7.66zM1404.498-719.493c.99-.98 2.1-1.776 3.33-2.389 2.48-1.241 5.36-1.87 8.63-1.87 4.71 0 8.34 1.569 10.92 4.649 2.52 3.011 3.82 7.256 3.82 12.761v25.421h-7.66v-25.382c0-3.245-.81-5.775-2.51-7.562-1.69-1.771-4.09-2.619-7.17-2.619-2.98 0-5.31.748-6.96 2.323-1.63 1.561-2.4 3.79-2.4 6.658v26.582h-7.66v-42.251h7.66v3.679zM1466.258-683.993c-.79.787-1.71 1.433-2.75 1.941-2.32 1.13-5.19 1.711-8.63 1.711-3.12 0-5.81-.698-8.05-2.068-2.26-1.385-3.99-3.387-5.16-6.017-1.14-2.544-1.72-5.599-1.72-9.171v-8.745c0-3.619.57-6.709 1.67-9.274 1.15-2.659 2.83-4.675 5.03-6.06 2.18-1.375 4.79-2.076 7.85-2.076 3.24 0 6.09.616 8.53 1.831a12.46 12.46 0 013.23 2.307v-3.558h7.66v40.009c0 3.876-.72 7.193-2.15 9.958-1.45 2.826-3.57 4.973-6.34 6.441-2.71 1.44-5.98 2.173-9.81 2.173-3.21 0-6.07-.6-8.57-1.784-2.56-1.21-4.55-2.919-5.97-5.117l-.48-.746 5.29-4.749.69.889c1.11 1.447 2.45 2.569 4.01 3.364 1.56.788 3.2 1.183 4.91 1.183 3.42 0 6.08-.91 7.97-2.807 1.89-1.9 2.79-4.586 2.79-8.031v-1.604zm0-23.626a9.64 9.64 0 00-1.1-4.514c-.73-1.409-1.79-2.551-3.17-3.429-1.39-.879-3.03-1.309-4.9-1.309-3.02 0-5.36.875-7.01 2.695-1.68 1.857-2.47 4.49-2.47 7.873v8.706c0 3.305.79 5.884 2.47 7.713 1.65 1.799 3.99 2.661 7.01 2.661 1.85 0 3.46-.44 4.85-1.341 1.39-.904 2.46-2.08 3.2-3.529a9.883 9.883 0 001.12-4.575v-10.951z"
                                fill-rule="nonzero"></path>
                            <path fill="#095ce5" d="M42.875-747.05h757v67h-757z"></path>
                            <circle cx="894" cy="137" r="26" fill="#095ce5" transform="translate(-16.562 -1022.84)">
                            </circle>
                        </g>
                    </g>
                </svg>
            </div>

        </div>
        <div class="derecha">
            <img width="100" height="50" class="justify-center"
                src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/om0iwlkwqf9faxkadesv">
        </div>
    </div>
    <div id="loader"></div>
    <div id="el" class="view3d-wrapper" style="height: 95vh; width: 95vw; margin: 0 auto;">
        <canvas class="view3d-canvas"></canvas>
        <div class="view3d-ar-overlay" style="height: 38px; width: 100%;display: flex;justify-content: center;">
            <button id="btn-alarm" class="button mr-2">Modelo 1</button>
            <button id="btn-payphone" class="button mr-2">Modelo 2</button>
            <button id="btn-plant" class="button mr-2">Model 3</button>
        </div>
    </div>
    <script>
        const view3D = new View3D("#el", {
            src: "https://modelos3d.s3.amazonaws.com/modelo<%= model %>.glb",
            webAR: {
                overlayRoot: ".view3d-ar-overlay",
                vertical: true
            },
            sceneViewer: {
                vertical: true
            },
            plugins: [new View3D.LoadingBar()]
        });
        view3D.loadPlugins(new View3D.ARButton());
        const buttons = [
            {
                el: document.getElementById("btn-alarm"),
                src: "https://modelos3d.s3.amazonaws.com/modelo1.glb",
            },
            {
                el: document.getElementById("btn-payphone"),
                src: "https://modelos3d.s3.amazonaws.com/modelo2.glb",
            },
            {
                el: document.getElementById("btn-plant"),
                src: "https://modelos3d.s3.amazonaws.com/modelo3.glb",
            },
        ];

        buttons.forEach((btn) => {
            btn.el.addEventListener("click", () => {
                view3D.load(btn.src);
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            // document.getElementById('loader').style.display = 'block';
            view3D.on("load", evt => {
                document.getElementById('loader').style.display = 'none';
            });
        });
    </script>
</body>

</html>